/* Add.css */
.add {
    max-width: 1005;
    margin: 0 auto;
    padding: 20px;
    color: gray;

  }
  
  .add form {
    display: flex;
    flex-direction: column;
  }
  
  .add-image,
  .add-product-name,
  .add-product-price,
  .add-product-category {
    margin-bottom: 20px;
  }
  
  .add-image p,
  .add-product-name p,
  .add-product-price p,
  .add-product-category p,
  .add-product-description p {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  
  .add-image img {
    max-width: 100%;
    height: auto;
}


.add input,
.add select,
.add textarea {
    
      outline: none;
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}
.add input:focus, .add textarea:focus, .add select:focus{
      border: 2px solid #abadae;

  }
  
  .add button {
    padding: 10px 20px;
    background-color: rgb(164, 164, 164);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add button:hover {
    background-color: rgb(155, 154, 154);
    box-shadow: 2px 2px 4px rgb(179, 179, 179);
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .add {
      padding: 10px;
    }
  
    .add form {
      padding: 10px;
    }
  }
  