.sidebar {
  width: 18%;
  box-sizing: border-box;
  /* background-color: gray; */
  height:89vh;
  border: 1.5px solid rgb(182, 182, 182);
  border-top: 0;

}
.sidebar-option{

  display: flex;
  gap : 2%;
  padding: 4%;
  margin: 8% 0 0 8%;
  border: 2px solid rgb(195, 195, 195);
  border-right: 0;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(236, 236, 236, 0.301);
  
}
.sidebar-option.active{
  background-color: rgb(255, 223, 193);
}
.sidebar-option:hover{
  background-color: rgb(255, 223, 150,0.5);
}
.sidebar-options{
  display: flex;
  flex-direction: column;


}
@media (max-width: 768px) {
  .sidebar p {
    display: none;
  }
}
